{% extends "layouts/base.twig" %}

{% block content %}
<article class="page-content">
    {{sidebar}}
    <div class="content-holder">
        {% block page %}
            <section role="article" class="post post-type-{{post.post_type}}" id="post-{{post.ID}}">
                {% if post.thumbnail.src %}
                <figure class="post-image-holder">
                    <img src="{{post.thumbnail.src}}" />
                </figure>
                {% endif %}
                <h1 class="post-title">{{post.title}}</h1>
                {{post.content}}
            </section>
        {% endblock %}
    </div>
</article>
{% endblock %}